*{
    margin:0;
    padding:0;
     box-sizing: border-box;
}
body{
    background-color: #1a1a1a;
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}
#app-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
    padding: 50px;
}
#active-card,#saved-card{
    background-color: #262626;
    border: 2px solid #555;
    border-radius: 15px;
    padding: 30px;
    width: 350px;
    min-height: 500px;
}
#task-input{
    width: 100%;
    padding: 11px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: white;
}
button{
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}
button :hover{
    background-color: #0056b3;
}
ul{
    list-style-type:none;
    min-height: 260px;
}
li {
    background-color: #444;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 5px;
    border-left: 4px solid #007bff;
}